<?xml version="1.0" encoding="utf-8"?>
<robot name="ayg" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_gazebo" default="False" />
  <xacro:property name="use_gazebo" default="$(arg use_gazebo)" />

  <xacro:arg name="initial_configuration" default="lying_down" />
  <xacro:property name="initial_configuration" value="$(arg initial_configuration)" />
  <xacro:arg name="controller" default="default" />
  <xacro:property name="controller" default="$(arg controller)" />

  <xacro:property name="effort_lim" value="50.0" />
  <xacro:property name="velocity_lim" value="10.0" />
  <xacro:property name="PI" value="3.1415926535897931" />

  <xacro:if value="${use_gazebo}">
    <xacro:include filename="$(find ayg_description)/urdf/ayg_gazebo.xacro" />
  </xacro:if>

  <link
    name="Base">
    <inertial>
      <origin
        xyz="0.000442764791303709 0.00323410160779704 0.000245694936587104"
        rpy="0 0 0" />
      <mass
        value="8.43904999246817" />
      <inertia
        ixx="0.020065303439704"
        ixy="4.08404656288191E-05"
        ixz="-2.29078687506071E-14"
        iyy="0.0384358501598642"
        iyz="-2.71859452435122E-15"
        izz="0.0267905011857108" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ayg_description/meshes/Base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.4 0.23 0.12" />
      </geometry>
    </collision>
  </link>
  
  <xacro:include filename="$(find ayg_description)/urdf/legs.xacro" />

  <link
    name="IMU">
    <inertial>
      <origin
        xyz="-8.67049396793524E-18 0.02 5.37094698008006E-18"
        rpy="0 0 0" />
      <mass
        value="0.08" />
      <inertia
        ixx="2.13333333333333E-05"
        ixy="-4.34540023236298E-22"
        ixz="-1.52363539595465E-21"
        iyy="2.73333333333333E-05"
        iyz="-2.43977500178881E-21"
        izz="2.73333333333333E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ayg_description/meshes/IMU.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
  </link>
  <joint
    name="Base_2_IMU"
    type="fixed">
    <origin
      xyz="0 0 0.006"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="Base" />
    <child
      link="IMU" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Neck">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ayg_description/meshes/Neck.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ayg_description/meshes/Neck.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Base_2_Neck"
    type="fixed">
    <origin
      xyz="0.2615 0 0.0249999999999999"
      rpy="1.5707963267949 0 1.5707963267949" />
    <parent
      link="Base" />
    <child
      link="Neck" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Camera">
    <inertial>
      <origin
        xyz="7.0525E-18 -2.7756E-17 0.013"
        rpy="0 0 0" />
      <mass
        value="0.16948" />
      <inertia
        ixx="2.085E-05"
        ixy="5.6809E-20"
        ixz="-7.2863E-20"
        iyy="0.00020719"
        iyz="3.3881E-21"
        izz="0.00020895" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ayg_description/meshes/Camera.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ayg_description/meshes/Camera.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Neck_2_Camera"
    type="fixed">
    <origin
      xyz="0 0.0166603444360147 0.0804068913666247"
      rpy="0.288975409992567 0 0" />
    <parent
      link="Neck" />
    <child
      link="Camera" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>