<?xml version="1.0" encoding="utf-8"?>
<robot name="ayg" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="sim" default="False" />
  <xacro:property name="sim" default="$(arg sim)" />

  <xacro:arg name="sim_backend" default="gazebo" />
  <xacro:property name="sim_backend" value="$(arg sim_backend)" />

  <xacro:arg name="camera" default="False" />
  <xacro:property name="camera" default="$(arg camera)" />

  <xacro:arg name="initial_configuration" default="lying_down" />
  <xacro:property name="initial_configuration" value="$(arg initial_configuration)" />
  <xacro:arg name="controller" default="default" />
  <xacro:property name="controller" default="$(arg controller)" />

  <xacro:property name="effort_lim" value="50.0" />
  <xacro:property name="velocity_lim" value="10.0" />
  <xacro:property name="PI" value="3.1415926535897931" />

  <xacro:if value="${sim and sim_backend == 'gazebo'}">
    <xacro:include filename="$(find ayg_description)/urdf/ayg_gazebo.xacro" />
  </xacro:if>

  <xacro:if value="${sim and sim_backend == 'mujoco'}">
    <xacro:include filename="$(find ayg_mujoco)/urdf/ayg_mujoco_ros2_control.xacro" />
    <xacro:ayg_mujoco_ros2_control
      mujoco_model_path="$(find ayg_description)/mujoco/ayg.xml"
      use_viewer="true"
    />
  </xacro:if>

  <xacro:unless value="${sim}">
    <xacro:include filename="$(find robstride_hardware)/urdf/robstride_ros2_control.xacro"/>
    <xacro:robstride_ros2_control
      can_interface="can0"
      actuator_type="3"
      default_kp="40.0"
      default_kd="1.0"
      calibration_file="$(find robstride_hardware)/calibration/joint_calibration.yaml"
    />
  </xacro:unless>

  <link
    name="Base">
    <inertial>
      <origin
        xyz="0.00057686 -0.00018498 0.0026529"
        rpy="0 0 0" />
      <mass
        value="9.1298" />
      <inertia
        ixx="0.022082"
        ixy="3.2369E-07"
        ixz="6.8653E-05"
        iyy="0.031986"
        iyz="2.8565E-07"
        izz="0.040389" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ayg_description/meshes/Base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.4 0.23 0.12" />
      </geometry>
    </collision>
  </link>

  <link
    name="IMU">
    <inertial>
      <origin
        xyz="-1.26817788945405E-05 -3.05893593341006E-06 0.00502425421604302"
        rpy="0 0 0" />
      <mass
        value="0.0181381899874512" />
      <inertia
        ixx="4.80017459218422E-06"
        ixy="-6.17315963282016E-11"
        ixz="-1.66852937330168E-09"
        iyy="3.40477341509462E-06"
        iyz="-3.279931989329E-11"
        izz="7.92679226862755E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ayg_description/meshes/IMU.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
  </link>

  <joint
    name="Base_2_IMU"
    type="fixed">
    <origin
      xyz="-3.79309829856879E-05 0 -0.0172341687059438"
      rpy="0 0 0" />
    <parent
      link="Base" />
    <child
      link="IMU" />
    <axis
      xyz="0 0 0" />
  </joint>

  <xacro:include filename="$(find ayg_description)/urdf/legs.xacro" />

  <xacro:if value="${camera}">
    <xacro:include filename="$(find ayg_description)/urdf/camera.xacro" />
  </xacro:if>
</robot>